[submodule "ext/czmq"]
	path = ext/czmq
	url = https://github.com/zeromq/czmq.git
[submodule "ext/libsphactor"]
	path = ext/libsphactor
	url = https://github.com/hku-ect/libsphactor.git
[submodule "ext/glm"]
	path = ext/glm
	url = https://github.com/g-truc/glm
[submodule "ext/StackWalker"]
	path = ext/StackWalker
	url = https://github.com/JochenKalmbach/StackWalker.git
[submodule "ext/openvr"]
	path = ext/openvr
	url = https://github.com/ValveSoftware/openvr
[submodule "ext/rtmidi"]
	path = ext/rtmidi
	url = https://github.com/thestk/rtmidi
[submodule "ext/SDL"]
	path = ext/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "ext/ImGuiColorTextEdit"]
	path = ext/ImGuiColorTextEdit
	url = https://github.com/sphaero/ImGuiColorTextEdit.git
[submodule "imgui"]
	path = ext/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "ext/ImFileDialog"]
	path = ext/ImFileDialog
	url = https://github.com/sphaero/ImFileDialog
